<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.forward.core.tcpReverseProxy.mapper.TcpProxyMappingMapper">
    <!-- 定义 ResultMap -->
    <!--    <resultMap id="ProxyMappingResultMap" type="com.forward.core.tcpReverseProxy.entity.TcpProxyMapping">-->
    <!--      <id property="local" column="local" />-->
    <!--      <collection property="target" ofType="java.lang.String">-->
    <!--        <result column="target" />-->
    <!--      </collection>-->
    <!--    </resultMap>-->
    <!-- 定义 ResultMap -->
    <resultMap id="mappingWithTargetsResultMap" type="com.forward.core.tcpReverseProxy.entity.TcpProxyMapping">
        <result column="local_host" property="localHost"/>
        <result column="local_port" property="localPort"/>
        <result column="targetConnections" property="targetConnections" typeHandler="com.forward.core.tcpReverseProxy.mybatis.StringListTypeHandler"/>
        <!--      <collection property="target" ofType="java.lang.String">-->
        <!--        <result column="target" />-->
        <!--      </collection>-->
    </resultMap>

    <!-- 使用 ResultMap 进行查询 -->
    <select id="selectMappingWithTargets" resultMap="mappingWithTargetsResultMap">



 	 SELECT m.local_host,m.local_port, GROUP_CONCAT(CONCAT_WS(':', m.target_host, m.target_port)) AS targetConnections
        FROM tcp_proxy_mapping m
        <where>
        <if test="env != null and env != ''">
          m.env = #{env}
        </if>
        </where>
        GROUP BY m.local_host,m.local_port
    </select>
    <!-- 使用 ResultMap 进行查询 -->
    <!--    <select id="selectProxyMappings" resultMap="ProxyMappingResultMap">-->
    <!--      SELECT t.local, GROUP_CONCAT(t.target SEPARATOR ',') AS target-->
    <!--      FROM (-->
    <!--        SELECT CONCAT(local_host, ':', local_port) AS local, CONCAT(target_host, ':', target_port) AS target-->
    <!--        FROM tcp_proxy_mapping-->
    <!--      ) t-->
    <!--      GROUP BY t.local-->
    <!--    </select>-->
</mapper>