<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.forward.core.tcpReverseProxy.mapper.TcpProxyMappingMapper">
    <!-- 定义 ResultMap -->
    <!--    <resultMap id="ProxyMappingResultMap" type="com.forward.core.tcpReverseProxy.entity.TcpProxyMapping">-->
    <!--      <id property="local" column="local" />-->
    <!--      <collection property="target" ofType="java.lang.String">-->
    <!--        <result column="target" />-->
    <!--      </collection>-->
    <!--    </resultMap>-->
    <!-- 定义 ResultMap -->
    <resultMap id="mappingWithTargetsResultMap" type="com.forward.core.tcpReverseProxy.entity.TcpProxyMapping">
        <result column="channel" property="channel"/>
        <result column="local_host" property="localHost"/>
        <result column="local_port" property="localPort"/>
        <result column="targetConnections" property="targetConnections"
                typeHandler="com.forward.core.tcpReverseProxy.mybatis.StringArrayListTypeHandler"/>
        <!--      <collection property="target" ofType="java.lang.String">-->
        <!--        <result column="target" />-->
        <!--      </collection>-->
    </resultMap>

    <!-- 使用 ResultMap 进行查询 -->
    <select id="selectMappingWithTargets" resultMap="mappingWithTargetsResultMap">
        SELECT  CASE
        WHEN m.channel IS NULL OR m.channel = '' THEN '*'
        ELSE m.channel
        END AS channel, m.local_host, m.local_port, GROUP_CONCAT(CONCAT_WS('${regex}',m.local_client_port,CONCAT_WS(':', m.target_host, m.target_port))) AS targetConnections
        FROM gateway.tcp_proxy_mapping m
        <where>
            <trim prefixOverrides="AND">
                <if test="env != null and env != ''">
                    AND m.env = #{env}
                </if>
                <if test="localIp != null and localIp != ''">
                    AND m.local_host = #{localIp}
                </if>
                <if test="channel != null and channel != ''">
                    AND m.channel = #{channel}
                </if>
            </trim>
        </where>
        GROUP BY m.local_host, m.local_port,channel
    </select>
    <!-- 使用 ResultMap 进行查询 -->
    <!--    <select id="selectProxyMappings" resultMap="ProxyMappingResultMap">-->
    <!--      SELECT t.local, GROUP_CONCAT(t.target SEPARATOR ',') AS target-->
    <!--      FROM (-->
    <!--        SELECT CONCAT(local_host, ':', local_port) AS local, CONCAT(target_host, ':', target_port) AS target-->
    <!--        FROM tcp_proxy_mapping-->
    <!--      ) t-->
    <!--      GROUP BY t.local-->
    <!--    </select>-->
</mapper>